<?xml version="1.0"?>
<launch>

<node 
        name="uvc_camera" pkg="uvc_camera" type="uvc_camera_node"  >
        <param name="width" value="1280" />
        <param name="height" value="720" />
</node>


<node
        name="ros_darknet" pkg="ros_darknet" type="ros_darknet" output="screen" >
</node>

<node
        name="ros_openpose" pkg="ros_openpose" type="ros_openpose_node" >
</node>

<node
        name="main_window" pkg="main_window" type="main_window" output="screen" >
</node>


</launch>
